/*
*
* Copyright (c) 2024 The ZMK Contributors
* SPDX-License-Identifier: MIT
*
*/

#include "eyelash_corne.dtsi"
/{

   	tps43_listener: tps43_listener {
        compatible = "zmk,input-listener";
        status = "ok";
        device = <&tps43_split>;
    };
};
&left_encoder {
    status = "okay";
};
