#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 50    // 10

#define TD_KEYS(name, term_ms, ...) \
    name: behavior_##name { \
        compatible = "zmk,behavior-tap-dance"; \
        label = #name; \
        #binding-cells = <0>; \
        tapping-term-ms = <term_ms>; \
        bindings = __VA_ARGS__; \
    };

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 4 1>; };

&msc {
    acceleration-exponent = <3>;
    time-to-max-speed-ms = <300>;
    delay-ms = <0>;
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    macros {
        macro_yae: macro_yae {
            compatible = "zmk,behavior-macro";
            label = "MACRO_YAE";
            #binding-cells = <0>;
            bindings = <&kp LS(O)>;
        };

        macro_ye: macro_ye {
            compatible = "zmk,behavior-macro";
            label = "MACRO_YE";
            #binding-cells = <0>;
            bindings = <&kp LS(P)>;
        };
    };

    behaviors {
        TD_KEYS(td_down_up, 450, <&kp PG_DN>, <&kp PG_UP>, <&kp HOME>, <&kp END>)
        TD_KEYS(td_mb_src, 450, <&mkp MB1>, <&mkp MB2>, <&msc SCRL_DOWN>, <&msc SCRL_UP>)
        TD_KEYS(td_bracket, 250, <&kp LBKT>, <&kp RBKT>)
        TD_KEYS(td_brace, 250, <&kp LBRC>, <&kp RBRC>)
        TD_KEYS(td_paren, 250, <&kp LPAR>, <&kp RPAR>)
        TD_KEYS(td_1, 250, <&kp N1>, <&kp EXCL>,  <&kp F1>)
        TD_KEYS(td_2, 250, <&kp N2>, <&kp AT>,    <&kp F2>)
        TD_KEYS(td_3, 250, <&kp N3>, <&kp HASH>,  <&kp F3>)
        TD_KEYS(td_4, 250, <&kp N4>, <&kp DLLR>,  <&kp F4>)
        TD_KEYS(td_5, 250, <&kp N5>, <&kp PRCNT>, <&kp F5>)
        TD_KEYS(td_6, 250, <&kp N6>, <&kp CARET>, <&kp F6>)
        TD_KEYS(td_7, 250, <&kp N7>, <&kp AMPS>,  <&kp F7>)
        TD_KEYS(td_8, 250, <&kp N8>, <&kp ASTRK>, <&kp F8>)
        TD_KEYS(td_9, 250, <&kp N9>, <&kp LPAR>,  <&kp F9>)
        TD_KEYS(td_0, 250, <&kp N0>, <&kp RPAR>,  <&kp F10>)
        TD_KEYS(td_ae_yae, 180, <&kp O>, <&macro_yae>)
        TD_KEYS(td_e_ye,   180, <&kp P>, <&macro_ye>)
        TD_KEYS(td_slash_question, 250, <&kp FSLH>, <&kp LS(FSLH)>)
        TD_KEYS(td_f11_minus, 250, <&kp MINUS>, <&kp UNDER>, <&kp F11>)
        TD_KEYS(td_f12_equal, 250, <&kp EQUAL>, <&kp PLUS>, <&kp F12>)

        TD_KEYS(td_toggle_layer_3, 250, <&none>, <&tog 3>)

        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        ht_mo1_ltog3: ht_mo1_ltog3 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MO1_LTOG3";
            bindings = <&mo>, <&td_toggle_layer_3>;

            #binding-cells = <2>;
            tapping-term-ms = <380>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <1 15 29>;
        };

        combo_x {
            timeout-ms = <80>;
            bindings = <&kp LC(X)>;
            key-positions = <29 30>;
            layers = <0>;
        };

        combo_c {
            timeout-ms = <80>;
            bindings = <&kp LC(C)>;
            key-positions = <30 31>;
            layers = <0>;
        };

        combo_paste {
            timeout-ms = <80>;
            bindings = <&kp LC(V)>;
            key-positions = <31 32>;
            layers = <0>;
        };

        enter_fg {
            bindings = <&kp ENTER>;
            key-positions = <17 18>;
        };

        space_hj {
            bindings = <&kp SPACE>;
            key-positions = <22 23>;
            layers = <0>;
        };

        combo_esc: combo_esc {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp ESC>;
            layers = <0>;
        };

        gh_han {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <18 22>;
            layers = <0>;
        };

        op_alt_f4 {
            bindings = <&kp LA(F4)>;
            key-positions = <10 11 12>;
            layers = <0>;
        };

        sd_shift_del {
            bindings = <&kp LS(DELETE)>;
            key-positions = <15 16>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R              &kp T                               &kp UP                &kp Y            &kp U              &kp I      &td_ae_yae  &td_e_ye            &kp BSLH
&td0       &kp A  &kp S  &kp D     &kp F              &kp G                     &kp LEFT  &kp ENTER  &kp RIGHT  &kp H            &kp J              &kp K      &kp L       &kp SEMI            &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V              &kp B        &kp SPACE              &kp DOWN              &kp N            &kp M              &kp COMMA  &kp DOT     &td_slash_question  &kp ENTER
                         &kp LGUI  &ht_mo1_ltog3 1 3  &lt 3 SPACE                                               &lt 3 BACKSPACE  &ht_mo1_ltog3 2 3  &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&trans  &td_1  &td_2  &td_3   &td_0          &td_f11_minus                                &mmv MOVE_UP                     &kp N6           &kp N7           &kp N8           &kp N9           &kp N0    &kp BSPC
&trans  &td_4  &td_5  &td_6   &td_f12_equal  &trans                       &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT        &kp HOME  &kp PG_UP
&trans  &td_7  &td_8  &td_9   &trans         &trans         &kp C_MUTE                    &mmv MOVE_DOWN                   &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &kp END   &kp PG_DN
                      &trans  &trans         &trans                                                                        &kp INS          &kp DEL          &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&trans  &kp EXCL      &kp AT        &kp HASH   &kp DLLR   &kp PRCNT                            &mmv MOVE_UP                     &kp LC(LA(N1))  &kp LA(LC(N2))  &kp LA(LC(N3))  &td_bracket  &td_brace  &kp BSPC
&trans  &bt BT_CLR    &mkp LCLK     &mkp MCLK  &mkp RCLK  &mkp MB4             &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LA(LC(N4))  &kp LA(LC(N5))  &kp LC(LA(N6))  &td_paren    &kp BSLH   &kp GRAVE
&trans  &out OUT_USB  &out OUT_BLE  &none      &none      &mkp MB5   &trans                    &mmv MOVE_DOWN                   &kp LC(LA(N7))  &kp LA(LC(N8))  &kp LA(LC(N9))  &kp RBRC     &kp PIPE   &kp TILDE
                                    &trans     &trans     &kp SPACE                                                             &kp RET         &trans          &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            display-name = "Fn";
            bindings = <
&kp LC(LS(TAB))  &kp UP_ARROW    &kp LC(TAB)      &td_mb_src      &mmv MOVE_UP    &td_down_up                             &kp UP                &td_mb_src      &mmv MOVE_UP    &td_down_up      &kp LS(LC(TAB))  &kp UP_ARROW        &kp LC(TAB)
&kp LEFT_ARROW   &kp DOWN_ARROW  &kp RIGHT_ARROW  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT               &kp LEFT  &kp ENTER  &kp RIGHT  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp LEFT_ARROW   &kp DOWN_ARROW      &kp RIGHT_ARROW
&kp LCTRL        &kp Z           &kp PAGE_UP      &kp PAGE_DOWN   &msc SCRL_UP    &msc SCRL_DOWN   &kp SPACE              &kp DOWN              &msc SCRL_UP    &msc SCRL_DOWN  &kp PG_UP        &kp PAGE_DOWN    &td_slash_question  &kp ENTER
                                                  &kp LGUI        &trans          &lt 3 SPACE                                                   &lt 3 ENTER     &trans          &kp RALT
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
